
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-color: #f5f5dc;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: 400% 400%;
  background-attachment: fixed;  
  padding-bottom: 100px;
}



@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 12s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

@keyframes float{
  0%, 100%{transform: translateY(0px);}
  50%{transform: translateY(-4px);}

}


@keyframes fadeIN{
  to{
    opacity: 1 ;
    transform: translateY(0);
  }
}

/*container*/

#container{
  background-color: white;
  width: 100%;
  max-width: 850px;
  padding: 40px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgb(0,0,0,0.1);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
  animation: containerAppear 1s ease forwards, float 4s ease-in-out infinite, bgshift 8s ease-in-out infinite;
  transform: scale(0.8);
  opacity: 0;
  margin-top: 150px;
  margin-bottom: 150px;
}

@keyframes bgshift{
  0%{
    background: rgba(255, 255, 255, 0.9);}

  25%{
    background: rgba(255, 245, 230, 0.9);}

  50%{
    background: rgba(230, 255, 240, 0.9); }

  75%{
    background: rgba(235, 240, 255, 0.9);}

  100%{
    background: rgba(255, 255, 255, 0.9);}

}



@keyframes containerAppear{

 0%{
  transform: scale(0.8);
  opacity: 0;
 } 

60%{
  transform: scale(1.05);
  opacity: 1;
} 

100%{
  transform: scale(1);
  opacity: 1;
}

}

@keyframes float {

  0%{transform: translateY(0);}

50%{transform: translateY(-10px);}

100%{transform: translateY(0);}

}

/* <Container content styles> */




h1{
text-align: center;
color: #444;
margin-bottom: 20px;
}

 /* Input-Boxes styles */

.input-area{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 10px;
  margin-bottom: 15px;;
}

/*new line, just this one*/
.input-area input, 
.input-area button{
  flex: 1 1 150px;
  padding: 10px;
  font-size: 16px;
}

input{
  flex:1;
  min-width: 130px;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
  transition: all 0.3s ease;
  font-size: 16px;
}

input:focus{
  border-color:#ffa500;
  box-shadow: 0 4px 12px rgba(255, 165, 0, 0.4);
  background: rgba(255, 255, 255, 1);
}


input[type="date"] {
  cursor: pointer;
}


/*Button styles*/

button{
  border: none;
  padding: 14px 22px;
  border-radius: 8px;
  font-family: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-right: 10px;
}

#addTask{
background-color: #ffa500;
color: white;
}


#addTask:hover{
background-color: #e69500;
}


#clearAll{
  background-color: #68b8ea;
  color: white;
}


#clearAll:hover{
  background-color: #38a0eb;
}


/* #filter{
  background-color: #90ee90;
  color: #333;
}


#filter:hover{
  background-color: #6ed36e;
} */


.controls{
  display: flex;
  gap: 10px;
  align-items:center ;
  text-align: center;
  margin-bottom: 15px;
  justify-content: center;
}


.controls button, 
.controls select{
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

/* task list styles */

ul.task-list{
  list-style-type: none;
  padding: 0;
}


ul.task-list li{
  background-color: #f0f0f0;
  margin: 8px 0;
  padding: 10px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(5px);
  animation: fadeIN 0.3s forwards;
}


ul.task-list li button{
  background-color: red;
  color: white;
  border-radius: 6px;
  padding: 5px 8px;
  font-size: 14px;
}


ul.task-list li button:hover{
  background-color: darkred;
}


/*title comment needed here*/

#filterSelect{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #374654;
  color: white;
}

#filterSelect:focus{
  border-color: #ffa500;
  box-shadow: 0 4px 10px rgba(255, 165, 0, 0.3);
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

li button {
  margin-left: 8px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: transparent;
}

.complete-btn{
  width: 30px;
  height: 30px;
  border: 2px solid #888;
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  margin-left: 8px;
  transition: 0.7s;
}

.complete-btn.completed {
  background-color: #39b83d;
  border-color: #33c738;
  color: white;
  font-size: 40px;
  }


  /*Better UI feedeback*/

  .task-list li{
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform 0.25s ease, background 0.3s ease;
    animation: slideIn 0.35s ease;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .task--list li:hover {
  transform: translateX(12px);
  background: #f8faff;
  }

  @keyframes slideIn {
    from{
      opacity: 0;
      transform: translateY(12px);
    }

    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  li.completed{
    background: #eaffea;
    transition: background0.3s ease;
  }

  .complete-btn {
    width: 32px;
    height: 32px;
    border: 2px solid #999;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px;
    transition: 
    background-color 0.3s ease, 
    border-color 0.3s ease, 
    transform 0.2s ease,
    color 0.2s ease;
  }

  .complete-btn, 
  .task-list button{
    margin-left: 5px;
    min-width: 30px;
    text-align: center;
  }

  .complete-btn:hover{
    transform: scale(1.12);
  }

  .complete-btn.complete {
    background-color: #4caf50;
    border-color: #4caf50;
    color: white;
    transform:  scale(1.20);
    animation: pop 0.2s ease;
  }

  .task-list li button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .task-list li button:hover{
    transform: scale(1.3);
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /*Theme Toggle Switch*/
/*Theme Toggle Switch*/
.theme-toggle{
  display: flex;
  justify-content: flex-end;
  /* cursor: pointer;
  font-size: 18px;
  align-items: center;
  gap: 10px; */
  margin-bottom: 15px;
}

.theme-toggle input {
  display: none;
}

/* .theme-div{
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #006699;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
} */

.slider {
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .slider {
  background: #4caf50;
}

.dark-mode .slider::before {
  transform: translateY(20px);
}


/*Glow Effect*/

.completed {
background: #d4ffd4 !important;
border-left: 5px solid #4caf50;
box-shadow: 0 0 10px #4caf50;
transition: 0.3s;
}

li.completed:hover {
  box-shadow: 0 0 15px #4caf50;
}

/*Over-Due tasks highlight*/

.overdue{
  border-left: 5px solid red;
  background: #ffe5e5 !important;
}
li.overdue{
  border-left: 4px solid red;
  background-color: rgba(255, 0,0, 0.1);
  box-shadow: 0 0 10px rgba(255, 0,0,0.5);

}

/*task states 1/2 or 2/2 complete*/

#task-stats{
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  opacity: 0.8;
  background-color: rgb(190, 214, 235);
  display: inline-block;
  padding: 7px;
  border-radius: 5px;

}

/*due soon*/

.due-soon{
  border-left: 5px solid #4caf50;
  padding-left: 8px;
}

.due-warning{
  font-size: 12px;
  color: orange;
  margin-top: 5px;
}

/*responsive mobile layout*/
@media (max-width: 480px) {
  h1{
    font-size: 22px;
  }

  .input-area input, 
  .input-area button{
    font-size: 14px;
    padding: 8px;
  }

  .controls button, 
  .controls select{
    font-size: 12px;
    padding: 6x 8px;
  }

  .task-list li{
    flex-direction: column;
    align-items: flex-start;
  }

  .complete-btn,
  .task-list button{
    margin-left: 0;
    margin-top: 5px;
  }

}